@model DentalCenter.Models.Specialization

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Specialization</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecializationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecializationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecializationEducation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecializationEducation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecializationWorkExp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecializationWorkExp)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SpecializationId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
