@model IEnumerable<DentalCenter.Models.Specialization>

@{
    ViewData["Title"] = "Выбор специальности";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Выбор специальности</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SpecializationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecializationEducation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecializationWorkExp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecializationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecializationEducation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecializationWorkExp)
                </td>
                <td>
                    <form asp-action="ChooseDoctorSpec" asp-route-SpecId="@item.SpecializationId">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input name="DoctorId" type="hidden" value="@ViewBag.Doctor.DoctorId" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input name="DoctorSurname" type="hidden" value="@ViewBag.Doctor.DoctorSurname" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input name="DoctorName" type="hidden" value="@ViewBag.Doctor.DoctorName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input name="DoctorPatronymic" type="hidden" value="@ViewBag.Doctor.DoctorPatronymic" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input name="DoctorPhoto" type="hidden" value="@ViewBag.Doctor.DoctorPhoto" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Выбрать" class="btn btn-primary" />
                        </div>
                    </form>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SpecializationId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SpecializationId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SpecializationId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
