@model DentalCenter.Models.Doctor

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" class="pb-3">
    <div class="contact-img contact-img-delete"></div>
    <div class="container">
        <h3 class="subtitle-delete">Вы уверены, что хотите удалить запись?</h3>
        <div class="delete-view">
            <dl class="row">
                <dt class = "col-sm-5">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class = "col-sm-7">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class = "col-sm-5">
                    @Html.DisplayNameFor(model => model.DoctorSurname)
                </dt>
                <dd class = "col-sm-7">
                    @Html.DisplayFor(model => model.DoctorSurname)
                </dd>
                <dt class = "col-sm-5">
                    @Html.DisplayNameFor(model => model.DoctorName)
                </dt>
                <dd class = "col-sm-7">
                    @Html.DisplayFor(model => model.DoctorName)
                </dd>
                <dt class = "col-sm-5">
                    @Html.DisplayNameFor(model => model.DoctorPatronymic)
                </dt>
                <dd class = "col-sm-7">
                    @Html.DisplayFor(model => model.DoctorPatronymic)
                </dd>
                <dt class = "col-sm-5">
                    @Html.DisplayNameFor(model => model.DoctorSpecialization)
                </dt>
                <dd class = "col-sm-7">
                    @Html.DisplayFor(model => model.DoctorSpecialization)
                </dd>
                <dt class = "col-sm-5">
                    @Html.DisplayNameFor(model => model.DoctorCabinet)
                </dt>
                <dd class = "col-sm-7">
                    @Html.DisplayFor(model => model.DoctorCabinet)
                </dd>
                <dt class = "col-sm-5">
                    @Html.DisplayNameFor(model => model.DoctorPhoto)
                </dt>
                <dd class = "col-sm-7">
                    @Html.DisplayFor(model => model.DoctorPhoto)
                </dd>
            </dl>
    
            <form asp-action="Delete">
                <a class="btn btn-primary" asp-action="Index">Вернуться к списку</a>
                <input type="hidden" asp-for="DoctorId"/>
                <input type="submit" value="Удалить" class="btn btn-danger" />
            </form>
        </div>
    </div>
</main>