@model IEnumerable<DentalCenter.Models.Service>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" class="pb-3">
    <div class="container">
        <h1 class="title">Выбор услуги</h1>
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ServiceName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ServiceDecription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ServicePrice)
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServiceName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServiceDecription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServicePrice)
                    </td>
                    <td>
                        @using (Html.BeginForm("SelectService", "MakeAppoinments", FormMethod.Post))
                        {
                            <div>
                                <input type="hidden" name="ServiceId" value="@item.ServiceId" />
                                <input type="submit" value="Выбрать" class="btn btn-primary" />
                            </div>
                        }
                    </td>
                </tr>

            }
        </table>
    </div>
</main>