@model DentalCenter.Models.Service

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" class="pb-3">
    <div class="contact-img contact-img-delete"></div>
    <div class="container">
        <h3 class="subtitle-delete">Вы уверены, что хотите удалить запись?</h3>
        <div class="delete-view">
            <dl class="row">
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.ServiceName)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.ServiceName)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.ServiceDecription)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.ServiceDecription)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.ServicePrice)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.ServicePrice)
                </dd>
            </dl>

            <form asp-action="Delete">
                <a class="btn btn-primary" asp-action="Index">Вернуться к списку</a>
                <input type="hidden" asp-for="ServiceId" />
                <input type="submit" value="Удалить" class="btn btn-danger" />
                
            </form>
        </div>
    </div>
</main>


