@model List<DentalCenter.Models.Doctor>

<main role="main" class="pb-3">
    <div class="container">

        <h1 class="service-title title">Услуги Dentalist.</h1>

        <form asp-action="SelectDoctors" >
            <input type="hidden" name="service.ServiceName" value="@ViewBag.ServiceName"/>
            <input type="hidden" name="service.ServiceDecription" value="@ViewBag.ServiceDecription"/>
            <input type="hidden" name="service.ServicePrice" value="@ViewBag.ServicePrice"/>

            @for(int i = 0; i < Model.Count; i++)
            {
                <div class="check-doctor">
                    <input class="form-check-inputab-content check" type="checkbox" id="@("DoctorCheckBox" + Model[i].DoctorId)" name="selectedDoctors" value="@Model[i].DoctorId">
                    <label class="doctorchoose" for="@("DoctorCheckBox" + Model[i].DoctorId)">
                        @Model[i].DoctorSurname @Model[i].DoctorName @Model[i].DoctorPatronymic <span>(@Model[i].DoctorSpecialization)</span>
                    </label>
                </div>
            }
            <input type="submit" value="Создать" class="btn btn-primary btn-create" style="margin-top: 20px;"/>
        </form>
        

    </div>
</main>

